<header>
    <a href="/" class="logo-container">
        <img src="/logo.png" alt="logo" class="logo" />
    </a>
    <div class="content">

        <h1 class="title">{{ title }}</h1>

        {{!-- <form action="search" method="get" class="search">
            <input type="search" name="q" id="search" required
                placeholder="Search"
                aria-label="Search the site">
            <button type="submit">Go</button>
        </form> --}}

        <div class="tertiary">
            <a href="http://wiki.c2.com/?{{ rawTitle }}" rel="nofollow" target="_blank">
                <span>view on wiki.c2.com</span>
            </a>
        </div>

        {{#if date}}
        <div class="date">
            <span>last modified: {{ date }}</span>
        </div>
        {{/if}}

    </div>
</header>

<article id="content">
{{{ content }}}

<div id="article-links">
    {{#each links}}
    <a hx-get="/a/{{this}}"
       hx-target="#content"
       hx-swap="innerHTML show:window:top"
       hx-push-url="true"
       hx-indicator="#loading">{{this}}</a>
    {{/each}}
</div>

<hr />
<footer>
    <a href="https://gitlab.com/kluvin/wiiki" class="open-source" target="_blank">
    I am open-source
    </a>
    <object type="image/svg+xml" data="/gitlab-icon.svg" class="gitlab-logo"></object>
</footer>
</article>

<div id="loading" class="htmx-indicator">Loading...</div>