<div class="error">
    <h1>{{ title }}</h1>
    <p>Page is unavailable until encoding errors are fixed.</p>
    <p>
        See issues <a href="https://github.com/WardCunningham/remodeling/pull/32">32</a>
        and <a href="https://github.com/WardCunningham/remodeling/issues/24">24</a> on
        <a href="https://github.com/WardCunningham/remodeling">the official remodeling GitHub</a>
    </p>
</div>