<header>
    <a href="/" class="logo-container">
        <img src="/logo.png" alt="logo" class="logo" />
    </a>
    <div class="content">

        <div class="query-reminder">
            <span>looking for</span>
            <h1 class="title">{{ query }}</h1>
        </div>

        {{!-- <form action="search" method="get" class="search">
            <input type="search" name="q" id="search" required
                placeholder="Search"
                aria-label="Search the site">
            <button type="submit">Go</button>
        </form> --}}

    </div>
</header>

<main>
    {{#each results}}

        <div class="result">
            <div class="result-header">

                <h3><a href="/a/{{ title }}">{{ title }}</a></h3>

                <div class="data">
                    <span>match {{ score }}</span>
                    <span>PageRank {{ pagerank }}</span>
                </div>

            </div>

            <p>
                {{ text }}
            </p>

        </div>
    {{/each}}
</main>